@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
.mobile-nav{
    z-index: 10000;
}
section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('/bg.jpg') no-repeat top center / cover;
    overflow: hidden;
  }
  
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }